# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.npm/
.yarn/
.pnp.*
.next/
dist/
build/
coverage/

# Go
bin/
*.exe
*.out

# Env & local
.env
.env.*
*.local
*.log

# Misc
.vercel/
.netlify/
.turbo/
.vscode/
.idea/
